lib
test_result
cmake-build-debug
cmake-build-release
build
devel
logs
.catkin_tools
example/ROS/src/vision_opencv
.idea
.vscode
Vocabulary/*.txt
orb_slam_mono
orb_mapping_mono
orb_localization_mono
result
libtorch*
test_libtorch
map.bin
stereo_euroc
stereo_euroc_localization
stereo_kitti
CameraTrajectory*.txt
FrameTrajectory*.txt
KittiCameraTrajectory*.txt
gcn2*.pt
orb-binary*.pt
orbslam2-binary_old.pt
sp.pt
superpoint.pt
*.jpg
euroc_*.txt
kitti.txt
mono_euroc
mono_kitti
run_euroc_*.sh
run_kitti_*.sh
test_orb
test_sp
test_sp_extract
train_bow